@using MvcOnlineTicariOtomasyon.Models.Entities;
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id.ToString()</td>
            <td>@item.Name</td>
            <td><a href="/Category/Delete/@item.Id" class="btn btn-danger">Delete</a></td>
            <td><a href="/Category/Update/@item.Id" class="btn btn-success">Update</a></td>
        </tr>
    }

</table>
<a href="/Category/Insert" class="btn btn-primary">New Category</a>
