
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
    </tr>

</table>
<button class="btn btn-primary">New Category</button>
