@model MvcOnlineTicariOtomasyon.Models.Entities.Department
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"><strong>Insert Department</strong></li>
</ol>

<form class="form-group" method="post">
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Save</button>
</form>
