@model MvcOnlineTicariOtomasyon.Models.Entities.Department
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"><strong>Update Department</strong></li>
</ol>

@using (Html.BeginForm("Update", "Department", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <button class="btn btn-warning">Update</button>
}

